$red: #E2453B;
$white:#f0eff0;
$width-0: 0;
$width-1: 600px;
$width-2: 840px;
$width-3: 1200px;
$width-4: 1610px;

$h1__big: 7.2rem;
$h1__small: 5rem;

$h3: 1.6em;
$p: 100%;

$left-0: 0;
$left-1: 420px;
$left-2: 600px;

$h2-landscape: 2.2rem;
$h2-portrait-small: 1.8rem;
$h2-portrait: 2.7rem;

$span: 1.3rem;